﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ресторан</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body style="background-image:url(../../Content/images/site-background.jpg)">
    <div class="page-container">
        <div class="container">
            <nav class="navbar navbar-expand-sm">
                <a class="navbar-brand" href="@Url.Action("Index", "Orders")">
                    Ресторан
                </a>
                <ul class="navbar-nav navbar-collapse">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Orders")">Заказы</a></li>
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Menu")">Меню</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("List", "Users")">Пользователи</a></li>
                    }
                </ul>
                <label style="margin-bottom:0; margin-right: 10px;">
                    @HttpContext.Current.User.Identity.Name
                </label>
                @Html.ActionLink("Выйти из себя", "Logout", "Login", null, new { @style = "align:right" })
            </nav>
        </div>
            <div class="container body-content" style="background-color:#FFFFFF">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Ресторан</p>
                </footer>
            </div>
            @RenderSection("scripts", required: false)
    </div>
</body>
</html>
