@model Restaurant.Web.Models.Login.LoginModel
@{
    ViewBag.Title = "Login";
}

<div class="jumbotron">
    <h2>Войдите в систему</h2>
</div>
@using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
{ 
    @Html.AntiForgeryToken()
<p>Логин</p>
    @Html.TextBoxFor(m => m.UserName)
<p>Пароль</p>
@Html.PasswordFor(m => m.Password) <br/>
    <p>Запомнить меня </p>
    @Html.CheckBoxFor(m => m.IsPersistent) <br />
<input type="submit" value="Войти" />
}

