@model Restaurant.Web.Models.Users.View.UsersViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Пользователи";
}

<div class="jumbotron" style="background-image:url(../../Content/images/users-background.jpg)">
    <div class="highlighter">
        <h2>Пользователи</h2>
        @{Html.RenderPartial("~/Views/Users/Partial/CreateUserPartialView.cshtml", Model.NewUser);}
    </div>
</div>
<table class="table table-striped">
    <tr class="row menu-table-head">
        <th class="col-sm">Пользователь</th>
        <th class="col-sm">E-Mail</th>
        <th class="col-sm">Роль</th>
    </tr>

    @foreach (var user in Model.Users)
    {
        <tr class="row">
            <td class="col-sm">@user.UserName</td>
            <td class="col-sm">@user.Email</td>
            <td class="col-sm">@user.Role</td>
        </tr>
        }
</table>

