@model Restaurant.Web.Models.Order.View.OrderDishViewModel

<div class="row">
    <p class="col-sm">@Model.Name</p>
    <p class="col-sm">@Model.Quantity</p>
    <p class="col-sm">@Model.Price</p>
</div>