﻿@model Restaurant.Web.Models.Order.View.OrderViewModel

@using (Html.BeginForm("Amend", "Orders", FormMethod.Post,
    new
    {
        @class = "row div-table-row",
        @data_toggle = "collapse",
        @data_target = "#item" + @Model.OrderHeader.Id
    }))
{

    <div class="col">@Html.DisplayFor(m => m.OrderHeader.TableNumber)</div>
    <div class="col">@Html.DisplayFor(m => m.OrderHeader.Price)</div>
    <div class="col">@Html.DisplayFor(m => m.OrderHeader.CreatedAt)</div>
    <div class="col">@Html.DisplayFor(m => m.OrderHeader.LastModifiedAt)</div>
    <div class="col">@Html.DisplayFor(m => m.OrderHeader.OrderState)</div>
    <div class="col">@Html.DisplayFor(m => m.OrderHeader.UserName)</div>
    <input type="hidden" name="tableNumber" value="@Model.OrderHeader.TableNumber" />
    <input type="hidden" name="price" value="@Model.OrderHeader.Price" />
    <input type="hidden" name="createdAt" value="@Model.OrderHeader.CreatedAt" />
    <input type="hidden" name="lastModifiedAt" value="@Model.OrderHeader.LastModifiedAt" />
    <input type="hidden" name="orderState" value="@Model.OrderHeader.OrderState" />
    <input type="hidden" name="userName" value="@Model.OrderHeader.UserName" />
    <input type="hidden" name="id" value="@Model.OrderHeader.Id" />
    <div class="col d-flex align-items-center"><input type="submit" value="Детали" /></div>
}
@if (@Model.Dishes.Count > 0)
{
    <table class="table collapse" id="item@(Model.OrderHeader.Id)">
        <tr class="row menu-table-head">
            <th class="col-sm">Блюдо</th>
            <th class="col-sm">Количество</th>
            <th class="col-sm">Цена</th>
        </tr>
        @foreach (var dishPart in Model.Dishes)
        {
            <tr class="row">
                <td class="col-sm">@dishPart.Name</td>
                <td class="col-sm">@dishPart.Quantity</td>
                <td class="col-sm">@dishPart.Price</td>
            </tr>
        }
    </table>
}