@model Restaurant.Web.Models.Order.View.OrderViewModel

@{Html.RenderPartial("~/Views/Orders/Partial/OrderHeaderPartialView.cshtml", Model.OrderHeader);}
@if (@Model.Dishes.Count > 0)
{
    <div class="table collapse" id="item@(Model.OrderHeader.Id)">
        <div class="row">
            <h6 class="col-sm">Блюдо</h6>
            <h6 class="col-sm">Количество</h6>
            <h6 class="col-sm">Цена</h6>
        </div>
        @foreach (var dishPart in Model.Dishes)
        {
            Html.RenderPartial("~/Views/Orders/Partial/OrderDishPartialView.cshtml", dishPart);
        }
    </div>
}