﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Новый заказ";
}

    <div class="jumbotron" style="background-image:url(../../Content/images/new-order-background.jpg)">
        <div class="highlighter">
            <h1>Новый заказ</h1>
        </div>
    </div>
<div>
    <div class="div-table-filter">
        <label>Номер столика</label>
        <input id="tableNumber" type="number" min="1" step="1" max="20" />
        <input type="button" id="send" value="Оформить заказ" style="width:100%; float:right" />
    </div>
    <table style="width:100%" id="dishesTable" class="table table-striped">
        <thead class="div-table-head">
            <tr>
                <th>Блюдо</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Стоимость</th>
                <th></th>
            </tr>
        </thead>
        <tfoot class="div-table-head">
            <tr>
                <th></th>
                <th></th>
                <th>Итого:</th>
                <th id="total"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
        <input type="button" data-toggle="collapse" data-target="#menu" value="Меню"/>
        <table id="menu" class="collapse">
            <thead>
                <tr class="menu-table-head">
                    <th>Блюдо</th>
                    <th>Цена</th>
                </tr>
            </thead>
        </table>
</div>
<script src="~/Scripts/addOrder.js" type="text/javascript">
</script>
<script>
var unselected = @Html.Raw(Json.Encode(Model.Dishes));
var selected = [];
    fillUnselectedList();
    document.getElementById('send').addEventListener('click', function () {
    if (selected.length > 0) {
        $.post('@(Url.Action("Create","Orders"))', {
            order: selected,
            tableNumber: document.getElementById('tableNumber').value,
        }, function (data) {
            window.location.href = data;
        });
    }
})
</script>