@{
    ViewBag.Title = "Новый заказ";
}

    <div class="jumbotron">
        <h1>Новый заказ</h1>
    </div>
<div>
    <p>Номер столика</p>
    <input id="tableNumber" type="number" min="1" step="1" max="20" />
    <table style="width:100%" id="dishesTable">
        <thead>
            <tr>
                <th>Блюдо</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Итого:</th>
                <th id="total"></th>
            </tr>
        </tfoot>
    </table>
        <input type="button" data-toggle="collapse" data-target="#menu" value="Добавить"/>
        <ul id="menu" class="collapse"></ul>
</div>
<input type="button" id="send" value="Оформить заказ" />
<script src="~/Scripts/addOrder.js" type="text/javascript">
</script>
<script>
var unselected = @Html.Raw(Json.Encode(Model.Unselected));
var selected = [];
    fillUnselectedList();
    document.getElementById('send').addEventListener('click', function () {
    if (selected.length > 0) {
        $.post('@(Url.Action("Create","Orders"))', {
            order: selected,
            tableNumber: document.getElementById('tableNumber').value,
        }, function (data) {
            window.location.href = data;
        });
    }
})
</script>