@model Restaurant.Web.Models.Order.View.OrderViewModel
@{
    ViewBag.Title = "Изменить заказ";
}

<div class="jumbotron">
    <h2>Изменить заказ</h2>
</div>
<div class="col-md-4">
    <div style="display:block">
        <p>Столик: @Model.OrderHeader.TableNumber</p>
    </div>
</div>

