@model Restaurant.Web.Models.Order.View.OrderListViewModel
@{
    ViewBag.Title = "Заказы";
}

<div class="jumbotron">
    <h1>Список заказов</h1>
    @using (Html.BeginForm("Add", "Order"))
    {
        <input type="submit" value="Добавить" formaction=@Url.Action("Add") formmethod="get" />
    }
</div>
<div class="row">
    <div style="width:100%">
        <div class="row">
            <h5 class="col-sm">Номер столика</h5>
            <h5 class="col-sm">Сумма</h5>
            <h5 class="col-sm">Создан</h5>
            <h5 class="col-sm">Изменён</h5>
            <h5 class="col-sm">Статус</h5>
            <h5 class="col-sm">Официант</h5>
            <h5 class="col-sm"></h5>
        </div>
        @foreach (var order in @Model.OrderList)
        {
            Html.RenderPartial("~/Views/Orders/Partial/OrderPartialView.cshtml", order);
        }
    </div>
</div>