body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.div-table-head {
    background-color: #FFCE00;
    min-height: 40px;
}

    .div-table-head label {
        font-weight: 600;
    }

.div-table-cell {
    vertical-align: middle;
    height: 100%;
}

.div-table-row {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

    .div-table-row:hover {
        background-color: #FFE473;
    }

.div-table-filter {
    padding-top: 5px;
    padding-bottom: 5px;
}

    .div-table-filter label {
        padding-left: 5px;
        padding-right: 5px;
    }

    .div-table-filter input {
        margin-left: 5px;
        margin-right: 5px;
    }

.col input {
    text-align: center;
}

.page-container {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FFFFFF;
    padding: 50px;
}

.highlighter {
    background-color: RGBA(255,255,255,0.8);
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

html, body {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    background-color: #FFE473;
}

.menu-table-head {
    background-color: #FFCE00 !important;
}
.menu-table-head th {
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu-table-row {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.menu-table-row:hover {
    background-color: #FFE473;
}
.menu-table-row td {
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #FFF4C3;
}
.order-summary-item{
    margin-left: 15px;
    margin-right: 15px;
}
.order-summary-container{
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
}
.order-summary-container-header {
    background-color: #FFE473;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.order-summary-container-header::after{
    border-top: solid;
}
.amend-options-container{
    margin-top:20px;
}
.amend-dish-counter{
    width: 40px;
}
.login-inputs-container {
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 300px;
    text-align: center;
    background-color: #FFF4C3;
    border-radius: 30px;
    
}
.login-input {
    width: 80%;
    height: 50px;
    text-align: center;
}
.login-input:focus{
    outline: none
}


