@model Restaurant.Web.Models.Users.View.NewUserViewModel
<input type="button" class="btn btn-warning" data-toggle="collapse" data-target="#newUserInput" value="Новый пользователь">
@using (Html.BeginForm("Create", "Users", FormMethod.Post,
    new { @class = "collapse", @id = "newUserInput", @style = "margin-top:20px" }))
{
    <h6>Логин</h6>
    @Html.TextBoxFor(m => m.NewUser.UserName);
    <h6>Пароль</h6>
    @Html.PasswordFor(m => m.NewUser.Password);
    <h6>Почта</h6>
    @Html.TextBoxFor(m => m.NewUser.Email);
    <h6>Роль</h6>
    @Html.DropDownListFor(m => m.SelectedUserRoleId, Model.UserRoles);
    <br />
    <br />
    <input class="btn btn-warning" type="submit" value="Создать" />
}