@model Restaurant.Web.Models.Menu.View.NewDishViewModel
@{
    ViewBag.Title = "Добавить";
}
<div class="jumbotron">
    <h2>Добавить блюдо</h2>
</div>
@using (Html.BeginForm("Create", "Menu", FormMethod.Post))
{
    <p>Название</p>
    @Html.TextBoxFor(model => model.Name);
    <p>Цена</p>
    @Html.TextBoxFor(model => model.Price);
    <p>Описание</p>
    @Html.TextAreaFor(model => model.Name);
    <br/>
    <input type="submit" value="Добавить"/>
}
