@model Restaurant.Web.Models.Menu.View.NewDishViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Добавить";
}
<div class="jumbotron" style="background-image:url(../../Content/images/menu-add-background.jpg); background-size:cover" >
    <div class="highlighter">
        <h2>Добавить блюдо</h2>
    </div>
</div>
@using (Html.BeginForm("Create", "Menu", FormMethod.Post, new { @class="row container"}))
{
<div class="col-md-6">
    <h6>Название</h6>
    @Html.TextBoxFor(model => model.Name)
    <h6>Цена</h6>
    @Html.TextBoxFor(model => model.Price)
</div>
<div class="col-md-6">
    <h6>Описание</h6>
    @Html.TextAreaFor(model => model.Description, new { @style="width: 100%; "})
</div>
<div class="col-md-12" style="text-align:center; margin-top:20px">
    <input class="btn btn-warning" type="submit" value="Добавить" />
</div>
}
