@model Restaurant.Web.Models.Menu.DishModel
@{
    ViewBag.Title = "Добавить";
}

<h2>Добавить</h2>
<p>Название</p>
@Html.TextBoxFor(model => model.Name, new { id = "idName"})
<p>Цена</p>
@Html.TextBoxFor(model => model.Price, new {id = "idPrice", type="number", step=".01", min="0"})
<p>Описание</p>
@Html.TextAreaFor(model => model.Description, new { id = "idDescription"})
<input type="button" id="addDish" value="Добавить"/>
<script>
        document.getElementById('addDish').addEventListener('click', function () {
            
            var name = $("#idName").val();
            var price = $("#idPrice").val();
            var description = $("#idDescription").val();
            var jsModel = { Name: name, Price: price, Description: description };
            $.post('@(Url.Action("Create", "Menu"))', { dish: jsModel }, function (data) {
                window.location.href = data;
            });
        })
</script>
