
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Меню";
}
<div class="jumbotron" style="background-image: url(../../Content/images/menu-background.jpg)">
    <div class="highlighter">
        <h2>Меню</h2>
        @using (Html.BeginForm("Add", "Menu"))
        {
            <input class="btn btn-warning" type="submit" value="Добавить" formaction=@Url.Action("Add") formmethod="get" />
        }
    </div>
</div>
<table class="table table-striped">
    <tr class="menu-table-head">
        <th>Блюдо</th>
        <th>Стоимость</th>
        <th>Описание</th>
        <th></th>
    </tr>
    @foreach (var dish in Model.Dishes)
    {
        <tr>
            <td>@dish.Name</td>
            <td>@dish.Price</td>
            <td>@dish.Description</td>
            <td>@using (Html.BeginForm("Delete", "Menu")) {
                <input name="id" type="hidden" value="@dish.Id"/>
                <input type="submit" value="Удалить"/>
            }
            </td>
        </tr>
    }

</table>